/* style sheet here */
/* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} */

/* header elements */

html {
    background: #5AB4B8;
}

header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: linear-gradient(to right, #0a7261, #2caf99);
    color: rgb(241, 243, 221);
    padding: 20px;
}


header h1 {
    display: inline-block;
    font-size: 48px;
    margin-left: 1rem;
}


header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    margin-left: 25px;
    background: linear-gradient(#0a7261,#13a18a);
    border: 1px solid #096455;
    padding: 6px;
    border-radius: 4px;
}

header nav ul li:hover {
    color: #ffffff;
    background: linear-gradient(#0a7261,#70d6c5);
}

#mainStyling {
    background: var(--mid);
}

a {
    color: var(--light);
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* This is essentially the "hero" image */
.splash-image {
    height: 18rem;
    background-image: url("./hero-island-image.jpg");
    background-size: cover;
    background-position: center;
}

.title-card {
    font-family: 'Freestyle Script';
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 48px;
    color: var(--light);
    margin-left: 75%;
    margin-right: 20px;
}

.title-card h2::after {
    content: '🏝️';
  }

  body {
    color: var(--light);
    }


/* contents section classes */
.content {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    text-align: left;
    color: var(--light);
}

/* when I want an image to the left or right of some text */
.image-left {
    float: left;
    margin-right: 25px;
    margin: 5px;
}

.image-right {
    float: right;
    margin-left: 25px;
    margin: 5px;
}

.weather-app {
    border-radius: 6px;
    margin: 4px 0;
    margin-top: 8px;
}

.weather-app h2 {
    text-decoration: none;
    text-align: center;
}


.weather-app-header {
    color: #f2f2f2f2;
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    background: linear-gradient(174deg, #2452a7, #3b72e0 20%, #5183e9 30%, #dadaec 96%);
    animation: appear 1.5s ease forwards;
}
@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 0.95;
    }
}

.weather-app-header:hover {
    color: #ffffff;
    text-decoration: none;
    padding: 3px;
    margin-bottom: 1px;
    background: linear-gradient(174deg, #548bf1, #3f79ed 20%, #5488f1 30%, #e4e4f7 96%);
    border: 2px solid #b0b0b0;
}


main {
    margin-bottom: 25px;
}

.BBBImage {
    border-radius: 6px;
    margin-top: 6px;
}

/* these are the different info boxes and their parameters */
.about-me {

    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    width: 600px;
    margin-bottom: 20px;
}
.about-me h2 {
    font-size: 200%;
    }

.tech-work {
    float: left;

    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    width: 500px;
}

.tech-work h2 {
    font-size: 200%;
    }

.resume {    
    text-align: center;

    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    width: 500px;
    }

.resume h2 {
    font-size: 200%;
    }

.references {
        text-align: left;
        color: var(--light);
    }


.contact-me {
    text-align: center;
    font-size: 180%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    width: 600px;
} 


.contacts {
    text-align: left;
    color: var(--navilink);
}

#sectionHeader {
    font-weight: 500;
    font-size: 2.4rem;
    color: rgb(235, 229, 197);
}

.cjImage {
    border-radius: 10px;
}

.section-tiles {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    flex-wrap: wrap;
    margin: 12px;
    padding: 10px;
    border-radius: 10px;
    background: linear-gradient(to right, #0a7261, #209b86);
    min-height: 300px;
    height: fit-content;
    border: 1px solid #096455;
}

.cjLink {
    margin-bottom: 2px;
}

footer {
    padding: 30px;
    margin: 10px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: var(--light);
}

.footerStyle {
    background: linear-gradient(to right, #0a7261, #209b86);
}


footer h2 {
    font-size: 20px;
}

